@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5f5f5;
  color: #101010;
  min-height: 100%;
  overflow-y: overlay;
}

body {
  min-height: 100vh;
}

#__next {
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea {
  padding: 0.5em;
}

.button {
 @apply  bg-green-500 text-white text-lg font-bold p-2 rounded-md hover:scale-105 hover:drop-shadow-md
}
.button-red {
 @apply  bg-red-700 text-white text-lg font-bold p-2 rounded-md hover:scale-105 hover:drop-shadow-md
}

.button-disabled {
 @apply  bg-gray-400 text-white text-lg font-bold p-2 rounded-md 
}

table {
  @apply w-full 
}

thead {
  @apply bg-gray-300 border-gray-300 border-2
}

th {
  @apply px-2
}


td {
  @apply px-2 border-gray-300 border-2 text-center
}

nav > ul > li {
  @apply text-3xl underline-offset-8 hover:underline 
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.15em;
}

.markdown > ul,
.markdown > ul > li > ul > li > ul {
  list-style: disc;
}

.markdown > ul > li > ul {
  list-style:  circle;
}

.markdown > ul > li,
.markdown > ul > li > ul > li,
.markdown > ul > li > ul > li > ul > li {
  margin-left: 1em;
}

.markdown a:link {
  text-decoration: underline;
}

.markdown a:hover {
  font-weight: bold;
}

.markdown hr {
  border-top: 4px dashed #888;
  margin: 1em;
}

input[type=text] {
  width: 100%;
  text-align: center;
}
